:root {
	--main-theme-color: #5cb8e9;
	--main-font-color: white;
}

html,
body,
p {
	margin: 0;
	padding: 0;
	font-family: "Cantarell", sans-serif;
	background-color: #daeaf3;
	color: rgb(8, 7, 87);
}

body {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;

}
.header {
	text-align: center;
}

.main {
	display: flex;
	justify-content: center;

}

.weathercontainer {
	border: 2px solid #0e242c;
	background-color: var(--main-theme-color);
	border-radius: 10px;
	padding: 10px 10px 20px 10px;
	
	text-align: center;
	width: 300px;
	

}

.headerweather {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	color: var(--main-font-color);
	background-color: var(--main-theme-color);
	padding-bottom: 10px;
}

.city {
	font-size: 1.5rem;
	background-color: var(--main-theme-color);
	color: var(--main-font-color);
}

.windarrow {
	color: var(--main-font-color);
	font-size: 1rem;
	background-color: var(--main-theme-color);
	
 }

.temp {
	background-color: var(--main-theme-color);
	color: var(--main-font-color);
	font-size: 3rem;
	padding-bottom: 30px;
}

.searchbar {
	display: flex;
	color: var(--main-font-color);
	justify-content: flex-start;
	gap: 5px;
	align-items: center;
	font-size: 1rem;
	margin-top: 30px;

}

.btnsearch {
	background-color: #0086E9;
	border: 1px solid #01111d;
	border-radius: 5px;
	text-decoration: none;
	color: var(--main-font-color);
	width: 60px;
	padding: 2px 5px 2px 5px;
	cursor: pointer;
	font-size: 0.8rem;
}

#location {
	border:1px solid #031a2b;
	height: 20px;
	font-size: 0.8rem;
	padding: 0px 0px 0 5px;
	width: 100px;
}

#locationlabel {
	color: var(--main-font-color);
	font-size: 0.8rem;
}

#location:focus {
	outline: none;
}

.rowinfotext {
	display: flex;
	justify-content: start;
	gap: 10px;


}
.rowinfotext,
.infotextlabel {
	background-color: var(--main-theme-color);
	font-size: 1rem;
	color: var(--main-font-color);
}

.infotextlabel {
	text-align: start;
	width: 120px;
	
}